* {
    margin: 0;
    padding: 0;
    
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-bottom: 0.5px solid gray;
    overflow: auto;
   
}
#logo-search {
    display: flex;
    align-items: center;
    padding: 2em;
}

img {
    display: block;
    width: 92px;
    height: 30px;
}

.lower-nav {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    width: 75%;
    border-bottom: 0.5px solid gray;
}

form {
    position: relative;
    padding-left: 1em;
    
    width: 75%;
    
    
}

input[type=text] {
    width: 100%;
    height: 20px;
    border-radius: 10px;
}

#navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 1em;
    padding-left: 1em;
    margin-bottom: 1em;
}

ul {
    width: 75%;
}

.right {
    float: right;
}

li {
    display: inline-block;
    font-size: 12px;
    padding: 5px 5px;
}

#navbar a {
    text-decoration: none;
    color: black;
}

.main {
    padding-top: 1em;
    margin-left: 12em;
    width: 60%;
}

.results {
    font-size: 14px;
    color: gray;
}

.search-result {
    padding-top: 2em;
    line-height: 20px;
}

.search-result h1 {
    padding-top: 0.3em;
}

h2 {
    font-weight: normal;
    font-size: 14px;
    padding-top: 0.5em;
}

.search-head {
    font-size: 13px;
    color: #70757a;
}
